body {
    padding: 0;
    margin: 0;
  }
  .container {
    position: relative;
    margin-top: 100px;
  }
  .container img {
    display: block;
    width: 100%;
  }

  #AccueilWelcome {
      font-size: 60px;
      font-style: oblique;
      left: 0%;
      position: fixed;
      top: 13%;
      font-weight:bold;
  }
  #exploration {
    font-size:40px;
    position:fixed;
    top:30%;
    left:20%;
  
  box-shadow: 10px 5px 0px    rgb(204, 29, 85);
  
  
  }
  #exploration a:hover {
      color:rgb(204, 29, 85);
  }
  #exploration a {
  color:black;
      text-decoration:none;
  }
  .youtube-link {
    position: fixed;
    left: 20px;
    bottom: 20px;
    color: #000;
    text-decoration: none;
    font-size: 12px;
  }