
    <nav>
      <input id="nav-toggle" type="checkbox">
      <div class="logo"><strong></strong></div>
      <ul class="links">
        <li><a href="exploration">Explorer</a></li>
        <li><a href="ajoutPrestation">Ajouter une Prestation</a></li>
        <li><a href="mesprestations">Mes Prestations</a></li> 
        <li><a href="/">Se deconnecter</a></li>
      </ul>
      <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </label>
    </nav>
 
