
<script> 

</script>
<div class="container">
	<form action="" class="m-auto" style="max-width:600px">
		<h3 class="my-4">Votre Prestation</h3>
		<hr class="my-4" />
		<div class="nom"><label for="nom2" class="col-md-5 col-form-label">Nom*</label>
			<div class="col-md-7"><input type="text" class="form-control-nom " id="nom2" #nom ></div>
		</div>
		<div class="mail"><label for="mail3" class="col-md-5 col-form-label">Mail*</label>
			<div class="col-md-7"><input type="email" class="form-control-mail " id="mail3" name="mail" #mail></div>
		</div>
		<hr class="bg-transparent border-0 py-1" />
		<div class="form-group mb-3 row"><label for="vos-services5" class="col-md-5 col-form-label">Vos Services*</label>
			<div class="col-md-7"><textarea class="text-area" id="vos-services5" name="vos-services"  #service></textarea></div>
		</div>
 		<hr class="bg-transparent border-0 py-1" />
		<div class="form-group mb-3 row"><label for="vos-services5" class="col-md-5 col-form-label">Photos</label>
			<div class="col-md-7"><input type="file" id="docpicker" #photo></div>
		</div>
		<div class="form-group mb-3 row"><label for="envoyer7" class="col-md-5 col-form-label"></label>
			<div class="col-md-7"><button class="btn btn-primary btn-lg" type="submit" (click)="getValue(nom.value,mail.value,service.value)">Envoyer</button></div>
		</div>
	</form>

    <div id="creationprestation">
        <h3 class="my-4">Prévisualisation</h3>
    <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
          <div class="card_content">
            <h2 class="card_title">Prestation {{affichenom}}</h2>
            <p>{{affichemail}}</p>
            <p class="card_text">{{afficheservice}}</p><p class="card_note"></p>
            <button class="btnexplore card_btn">Je suis interessé</button>
          </div>
        </div>
      </li>
    </div>
</div>